html, body {
  background-color: #FAFAFA;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.page_header {
  background-color: #001F3F;
  color: rgba(255, 255, 255, 0.9);
  padding: 1% 0 1% 1%;
  line-height: 2.5em;
}

.page_header page-title {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.page_header page-subtitle {
  display: block;
  font-size: 1em;
}

.page_header page-status {
  display: block;
  font-size: 1em;
}

.page_content {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.6);
  padding: 1% 0 15% 1%;
}

.page_footer {
  width: 100%;
  position: absolute;
  z-index:100;
  bottom: 0;
  left: 0;
  min-height: 15%;
  background-color: #ffa500;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  line-height: 1.8em;
}

.page_footer .column1 {
  float: left;
  width: 40%;
  margin: 1.5% 0 1% 1%;
}

.page_footer .column2 {
  float: right;
  width: 40%;
  margin: 1.5% 0 1% 0;
}

form-title {
  font-size: 1.4em;
  display: block;
  font-weight: bold;
}

phone-number {
  display: inline-block;
  margin-top: 2em;
  margin-right: 1em;
}

.input-button {
  background-color: rgba(0, 0, 200, 0.2);
  color: rgba(0, 0, 0, 0.8);
}

.error_wrapper .error {
  display: inline-block;
  color: red;
} 

.plans {
  margin-top: 1.5em;
}

.plan-radio {
  margin-right: 1em;
}

.plan-name {
  margin-right: 1.4em;
}
